@media only screen and (max-width: 576px) {
  .container {
    overflow: hidden;
  }
  .container .path_wrapper {
    display: flex;
    align-items: center;
    gap: 0.6em;
    margin-right: 1rem;
    margin-left: 1rem;
  }
  .container .path_wrapper .path_wrapper_left .path_wrapper_text {
    font-size: 14px;
    font-weight: 400;
    color: #9F9F9F;
  }
  .container .path_wrapper .path_wrapper_middle_text .path_wrapper_text {
    font-size: 14px;
    font-weight: 400;
    color: #9F9F9F;
  }
  .container .path_wrapper .path_wrapper_right {
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-left: 1px solid #9F9F9F;
  }
  .container .path_wrapper .path_wrapper_right .path_wrapper_right_text_wrapper .path_right_text {
    font-size: 14px;
    font-weight: 400;
    color: black;
  }
  .container .body_wrapper_container {
    margin-top: 1rem;
    padding-bottom: 3rem;
  }
  .container .body_wrapper_container .body_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
  }
  .container .body_wrapper_container .body_wrapper .body_wrapper_left .body_wrapper_Image_container {
    background-color: #FFF9E5;
    border-radius: 10px;
    padding: 0.1rem;
  }
  .container .body_wrapper_container .body_wrapper .body_wrapper_right {
    display: flex;
    flex-direction: column;
  }
  .container .body_wrapper_container .body_wrapper .body_wrapper_right .body_wrapper_right_top {
    padding-bottom: 1.5rem;
  }
  .container .body_wrapper_container .body_wrapper .body_wrapper_right .body_wrapper_right_top .body_wrapper_right_heading .heading_details {
    display: flex;
    flex-direction: column;
    gap: -2rem;
  }
  .container .body_wrapper_container .body_wrapper .body_wrapper_right .body_wrapper_right_top .body_wrapper_right_heading .heading_details .heading_details_top .heading_title {
    font-size: 40px;
    font-weight: 500;
  }
  .container .body_wrapper_container .body_wrapper .body_wrapper_right .body_wrapper_right_top .body_wrapper_right_heading .heading_details .heading_details_bottom {
    margin-top: -2.7rem;
  }
  .container .body_wrapper_container .body_wrapper .body_wrapper_right .body_wrapper_right_top .body_wrapper_right_heading .heading_details .heading_details_bottom .heading_price {
    font-size: 18px;
    color: #9F9F9F;
  }
  .container .body_wrapper_container .body_wrapper .body_wrapper_right .body_wrapper_right_top .review_wrapper {
    display: flex;
    gap: 1rem;
  }
  .container .body_wrapper_container .body_wrapper .body_wrapper_right .body_wrapper_right_top .review_wrapper .review_wrapper_left {
    font-size: 12px;
  }
  .container .body_wrapper_container .body_wrapper .body_wrapper_right .body_wrapper_right_top .review_wrapper .review_wrapper_right {
    font-size: 12px;
    padding-left: 1rem;
    padding-right: 1rem;
    border-left: 1px solid #9F9F9F;
  }
  .container .body_wrapper_container .body_wrapper .body_wrapper_right .body_wrapper_right_top .body_wrapper_details_container .body_wrapper_item_details {
    width: 330px;
  }
  .container .body_wrapper_container .body_wrapper .body_wrapper_right .body_wrapper_right_top .body_wrapper_details_container .body_wrapper_item_details .item_details_text {
    font-size: 12px;
    font-weight: 300;
  }
  .container .body_wrapper_container .body_wrapper .body_wrapper_right .body_wrapper_right_top .body_wrapper_details_container .body_wrapper_item_size {
    display: flex;
    flex-direction: column;
  }
  .container .body_wrapper_container .body_wrapper .body_wrapper_right .body_wrapper_right_top .body_wrapper_details_container .body_wrapper_item_size .body_wrapper_item_text .item_text {
    font-size: 12px;
    color: #9F9F9F;
  }
  .container .body_wrapper_container .body_wrapper .body_wrapper_right .body_wrapper_right_top .body_wrapper_details_container .body_wrapper_item_size .size_wrapper {
    display: flex;
    gap: 1rem;
  }
  .container .body_wrapper_container .body_wrapper .body_wrapper_right .body_wrapper_right_top .body_wrapper_details_container .body_wrapper_item_size .size_wrapper .size_label_left .btn_size_l {
    width: 2rem;
    height: 1.5rem;
    border-radius: 5px;
    background-color: rgb(223, 221, 221);
    border: none;
  }
  .container .body_wrapper_container .body_wrapper .body_wrapper_right .body_wrapper_right_top .body_wrapper_details_container .body_wrapper_item_size .size_wrapper .size_label_middle .btn_size_xl {
    width: 2rem;
    height: 1.5rem;
    border-radius: 5px;
    background-color: rgb(223, 221, 221);
    border: none;
  }
  .container .body_wrapper_container .body_wrapper .body_wrapper_right .body_wrapper_right_top .body_wrapper_details_container .body_wrapper_item_size .size_wrapper .size_label_right .btn_size_xs {
    width: 2rem;
    height: 1.5rem;
    border-radius: 5px;
    background-color: rgb(223, 221, 221);
    border: none;
  }
  .container .body_wrapper_container .body_wrapper .body_wrapper_right .body_wrapper_right_top .body_wrapper_details_container .body_wrapper_item_size .color_wrapper {
    display: flex;
    flex-direction: column;
  }
  .container .body_wrapper_container .body_wrapper .body_wrapper_right .body_wrapper_right_top .body_wrapper_details_container .body_wrapper_item_size .color_wrapper .body_wrapper_item_color .item_text {
    font-size: 12px;
    color: #9F9F9F;
  }
  .container .body_wrapper_container .body_wrapper .body_wrapper_right .body_wrapper_right_top .body_wrapper_details_container .body_wrapper_item_size .color_wrapper .color_div {
    display: flex;
    gap: 1rem;
  }
  .container .body_wrapper_container .body_wrapper .body_wrapper_right .body_wrapper_right_top .body_wrapper_details_container .body_wrapper_item_size .color_wrapper .color_div .color_div_left {
    width: 1.5rem;
    height: 1.5rem;
    background-color: #816DFA;
    border-radius: 50px;
  }
  .container .body_wrapper_container .body_wrapper .body_wrapper_right .body_wrapper_right_top .body_wrapper_details_container .body_wrapper_item_size .color_wrapper .color_div .color_div_middle {
    width: 1.5rem;
    height: 1.5rem;
    background-color: black;
    border-radius: 50px;
  }
  .container .body_wrapper_container .body_wrapper .body_wrapper_right .body_wrapper_right_top .body_wrapper_details_container .body_wrapper_item_size .color_wrapper .color_div .color_div_right {
    width: 1.5rem;
    height: 1.5rem;
    background-color: #CDBA7B;
    border-radius: 50px;
  }
  .container .body_wrapper_container .body_wrapper .body_wrapper_right .body_wrapper_right_top .body_wrapper_details_container .cart_increment_wrapper {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    justify-content: flex-start;
    gap: 1.5rem;
  }
  .container .body_wrapper_container .body_wrapper .body_wrapper_right .body_wrapper_right_top .body_wrapper_details_container .cart_increment_wrapper .increment_decrement_wrapper {
    display: flex;
    border: 1px solid black;
    border-radius: 20px;
    width: 5rem;
    height: 2rem;
    align-items: center;
    justify-content: center;
    gap: 0.7rem;
  }
  .container .body_wrapper_container .body_wrapper .body_wrapper_right .body_wrapper_right_top .body_wrapper_details_container .cart_increment_wrapper .increment_decrement_wrapper .decrement_wrapper .decrement {
    background-color: transparent;
    border: none;
  }
  .container .body_wrapper_container .body_wrapper .body_wrapper_right .body_wrapper_right_top .body_wrapper_details_container .cart_increment_wrapper .increment_decrement_wrapper .display {
    font-size: 0.9rem;
  }
  .container .body_wrapper_container .body_wrapper .body_wrapper_right .body_wrapper_right_top .body_wrapper_details_container .cart_increment_wrapper .increment_decrement_wrapper .increment_wrapper .increment {
    background-color: transparent;
    border: none;
  }
  .container .body_wrapper_container .body_wrapper .body_wrapper_right .body_wrapper_right_top .body_wrapper_details_container .cart_increment_wrapper .cart_button_wrapper_container .cart_button_wrapper .cart_btn {
    background-color: transparent;
    height: 3rem;
    width: 7rem;
    border-radius: 20px;
  }
  .container .body_wrapper_container .body_wrapper .body_wrapper_right .body_wrapper_right_bottom {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    border-top: 1px solid #9F9F9F;
    gap: 0.2rem;
  }
  .container .body_wrapper_container .body_wrapper .body_wrapper_right .body_wrapper_right_bottom .bottom_line_one {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .container .body_wrapper_container .body_wrapper .body_wrapper_right .body_wrapper_right_bottom .bottom_line_one .bottom_line_one_left .left_one_text {
    font-size: 14px;
    font-weight: 400;
    color: #9F9F9F;
  }
  .container .body_wrapper_container .body_wrapper .body_wrapper_right .body_wrapper_right_bottom .bottom_line_one .bottom_line_one_middle .middle_one_text {
    font-size: 14px;
    font-weight: 400;
    color: #9F9F9F;
  }
  .container .body_wrapper_container .body_wrapper .body_wrapper_right .body_wrapper_right_bottom .bottom_line_one .bottom_line_one_right .right_one_text {
    font-size: 14px;
    font-weight: 400;
    color: #9F9F9F;
  }
  .container .body_wrapper_container .body_wrapper .body_wrapper_right .body_wrapper_right_bottom .bottom_line_two {
    display: flex;
    align-items: center;
    gap: 0.6rem;
  }
  .container .body_wrapper_container .body_wrapper .body_wrapper_right .body_wrapper_right_bottom .bottom_line_two .bottom_line_two_left .left_two_text {
    font-size: 14px;
    font-weight: 400;
    color: #9F9F9F;
  }
  .container .body_wrapper_container .body_wrapper .body_wrapper_right .body_wrapper_right_bottom .bottom_line_two .bottom_line_two_middle .middle_two_text {
    font-size: 14px;
    font-weight: 400;
    color: #9F9F9F;
  }
  .container .body_wrapper_container .body_wrapper .body_wrapper_right .body_wrapper_right_bottom .bottom_line_two .bottom_line_two_right .right_two_text {
    font-size: 14px;
    font-weight: 400;
    color: #9F9F9F;
  }
  .container .body_wrapper_container .body_wrapper .body_wrapper_right .body_wrapper_right_bottom .bottom_line_three {
    display: flex;
    align-items: center;
    gap: 0.6rem;
  }
  .container .body_wrapper_container .body_wrapper .body_wrapper_right .body_wrapper_right_bottom .bottom_line_three .bottom_line_three_left .left_three_text {
    font-size: 14px;
    font-weight: 400;
    color: #9F9F9F;
  }
  .container .body_wrapper_container .body_wrapper .body_wrapper_right .body_wrapper_right_bottom .bottom_line_three .bottom_line_three_middle .middle_three_text {
    font-size: 14px;
    font-weight: 400;
    color: #9F9F9F;
  }
  .container .body_wrapper_container .body_wrapper .body_wrapper_right .body_wrapper_right_bottom .bottom_line_three .bottom_line_three_right .right_three_text {
    font-size: 14px;
    font-weight: 400;
    color: #9F9F9F;
  }
  .container .body_wrapper_container .body_wrapper .body_wrapper_right .body_wrapper_right_bottom .bottom_line_four {
    display: flex;
    align-items: center;
  }
  .container .body_wrapper_container .body_wrapper .body_wrapper_right .body_wrapper_right_bottom .bottom_line_four .bottom_line_four_left .left_four_text {
    font-size: 14px;
    font-weight: 400;
    color: #9F9F9F;
  }
  .container .body_wrapper_container .body_wrapper .body_wrapper_right .body_wrapper_right_bottom .bottom_line_four .bottom_line_four_middle .middle_four_text {
    font-size: 14px;
    font-weight: 400;
    color: #9F9F9F;
  }
  .container_child {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
  }
}/*# sourceMappingURL=ProductDetailsRes.css.map */