@import '../Variables/ColorVariables.scss';

@mixin textStyle {
    font-size: 14px;
    font-weight: 400;
}

@mixin btn {
    background-color: $button;
    border-radius: 10px;
    height: 50px;
    width: 50px;
    color: black;
}