@import '../BreakPoints/BreakPoint.scss';

@media only screen and (max-width: $mobile) {
  
    .heropage{

        .bg{
            display: flex;
            align-items: center;
            justify-content: center;
            // background-color: red;
            background: url(/longImage.png) no-repeat contain cover / contain;
            height: 306px;
            background-blend-mode: soft-light
        }
    }
    
}