@import '../../Styles/Variables/ColorVariables.scss';

.wrapper{
    height: 250vh;

    .toogle_bar{
        position: sticky;
        top: .3vh;
        background-color: $Secondary;
        padding-top: .6rem;
        padding-bottom: .6rem;
      }
}